# Currently the only DataStore...
DataStore=MySQL
DefaultChunksAmount {
    Personal=0
    World=0
}
MaxChunksAmount {
    Personal=250
    World=250
}
# Time in hours before player's chunkloaders become inactive.
MaxHoursOffline=72
MySQL {
    Database=MYSQL_DATABASE
    Hostname=MYSQL_HOST
    Password=MYSQL_PASSWORD
    Username=MYSQL_USER
}
# Unique name of server
ServerName=Resist
item {
    type="minecraft:blaze_rod"
}
