# Configuration file

general {
    # Will disable all possible Modifiers
    B:"Disable Ability to Apply All Modifiers"=false

    # Will disable all possible Traits
    B:"Disable Ability to Apply All Traits"=false

    # Will only disable the creation not the existing of the parts
    B:"Disable Ability to Create All Parts"=false

    # Will disable the creation of all tools via a tool station/forge
    B:"Disable Ability to Create All Tools"=false

    # Will stop all Parts from being replaceable
    B:"Disable Ability to Replace All Parts"=false

    # Use material name ('Use Output Materials/Modifier names to the Log/Console' option to show all materials) Example: paper [default: [Ljava.lang.String;@59d3ab6e]
    S:"List of Materials to be disabled" <
     >

    # Use material name ('Use Output Materials/Modifier names to the Log/Console' option to show all materials) Example: stone [default: [Ljava.lang.String;@3eb7102f]
    S:"List of Materials which cant be used as replacements on tools" <
     >

    # Use material name ('Use Output Materials/Modifier names to the Log/Console' option to show all materials) Example: stone [default: [Ljava.lang.String;@2d678d5e]
    S:"List of Materials which parts cant be created for" <
     >

    # Use modifier name ('Use Output Materials/Modifier names to the Log/Console' option to show all materials) Example: mending_moss [default: [Ljava.lang.String;@5d376ba7]
    S:"List of Modifiers to be disabled" <
     >

    # Use part name and material name in the Format: part_name:material_name Example: pick_head:stone [default: [Ljava.lang.String;@917ac22]
    S:"List of Parts based on certain Materials that cant be created" <
     >

    # Use part type name (Use F3 + H to show unlocalized names on parts to find there names, will be the name after the : ) Example: pick_head [default: [Ljava.lang.String;@69abdb47]
    S:"List of Parts that cant be created" <
     >

    # Use tool name and material name in the Format: tool_name:material_name Example: pickaxe:stone [default: [Ljava.lang.String;@180bcd23]
    S:"List of Tools based on certain Materials that cant be created" <
     >

    # Use tool type name (Use F3 + H to show unlocalized names on tools to find there names, will be the name after the : ) Example: pickaxe [default: [Ljava.lang.String;@6f1b8835]
    S:"List of Tools that cant be created" <
     >

    # Use Traits name Example: ecological [default: [Ljava.lang.String;@2f4d4c86]
    S:"List of Traits to be disabled" <
     >

    # Will output to the Log/Console during start up
    B:"Output Materials/Modifier names to the Log/Console"=false
}


